table {
  width: 100%;
  border-spacing: 0px;
}

th.ngrx-header.last {
  border-right: none;
}
th.ngrx-header {
  border-bottom: solid 3px black;
  border-right: solid 3px black;
  background-color: #3f50b5;
  color: white;
  height: 36px;
}

td.ngrx-body {
  border-bottom: solid 1px black;
  border-right: solid 3px black;
  height: 30px;
  text-align: justify;
  padding: 0.5%;
  cursor: pointer;
}

td.ngrx-body.active {
  background-color: #e8e8e8;
}

td.ngrx-body.last {
  border-right: none;
}

td.ngrx-body.description {
  width: 50%;
}

div.paginator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

span.material-icons.last-arrow {
  margin-left: -18px;
}

div.pag-button {
  cursor: pointer;
}
