<mat-toolbar color="primary">
  <mat-toolbar-row class="header_title">
    <div class="title_content">
        <img src="assets/Captain_America's_shield.svg.png" class="shield_capitan" alt="shield capitan" />
        <span class="title_text">{{title}}</span>
        <img src="assets/Captain_America's_shield.svg.png" class="shield_capitan" alt="shield_capitan" />
    </div>
    <div class="header_buttons">
      <span class="material-icons header" (click)="goHome()">home</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
